@import "tailwindcss";

body {
  background: #0a0a0a;
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
    "Courier New", monospace;
  color: white;
}

h1,
h2,
h3,
h4 {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
    "Courier New", monospace;
}

@keyframes blink {
  0%,
  50%,
  100% {
    visibility: visible;
  }
  25%,
  75% {
    visibility: hidden;
  }
}

.animate-blink {
  animation: blink 2s step-start infinite;
}
